name: test actions

on: [push]

jobs:
  run-github-actions:
    runs-on: self-hosted
    steps:
      - name: list files
        uses: actions/checkout@master
      - name: build
        run: |
          ls
          pwd
          ls
          docker build -t dhanureddy/java-app:$GITHUB_RUN_ID .
          docker images
      - name: docker push 
        run: |
          docker push  dhanureddy/java-app:$GITHUB_RUN_ID
      #for better usage need to add creds in secrets
      
      # - name: simple actions
      #   id: greet
      #   uses: actions/hello-world-javascript-action@v1
      #   with: 
      #     who-to-greet: dhanu
      # - name: log  greet time
      #   run: echo "${{ steps.greet.outputs.time}}"
      ## echo $GITHUB_SHA
      #     echo $GITHUB_REPOSITORY
      #     echo $GITHUB_WORKSPACE
      #     echo "${{ github.token }}"
      #     #git clone  git@github:$GITHUB_REPOSITORY
